.container {
    background-color: white;
    height:758px;
    width:550px;
    border:1px solid rgb(233, 223, 223);
    padding-top: 2px;
    margin-top:13px;
    border-radius:6px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 250px;
    padding: 12px;
    border: 1px solid gray;
    border-radius:10px;
    box-shadow: 10px 5px 5px rgb(189, 187, 187);
  }
  
  input[type=submit] {
    background-color: #0000cd;
    color: white;
    padding: 8px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 250px;
    opacity: 0.9;
    border-radius:5px;
    margin-top:8%;
    border-radius:10px;
    box-shadow: 10px 5px 5px rgb(189, 187, 187);
  }
  
  input[type=submit]:hover {
    opacity: 1;
  }
  
  h2 {
    color: rgb(253, 253, 253);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(67, 67, 141), 0 0 5px rgb(54, 54, 145);
  }


 .btn {
    background-color: #0000cd;
    color: white;
    padding: 8px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 250px;
    opacity: 0.9;
    border-radius:5px;
    margin-top:8%;
    border-radius:10px;
    box-shadow: 10px 5px 5px rgb(189, 187, 187);
    text-decoration:none;
  }
  
  .btn:hover {
    opacity: 1;
  }